*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #33333325;
}
#nav{
   max-width: 1600px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgb(8, 8, 67);
    color: white;
}
.logo{
   width: 60px;
   height: 50px;
   color: white;
   font-size: 20px;

}
h4{
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 600;
    margin: 16px 15px;
    cursor: pointer;
}
#button ul{
    
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}
#button  li {
    margin: 10px;
    list-style: none;
   
}
#button li a{
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 17px;
    font-weight: 600;
}
#button li a:hover{
    color: aqua;
}

#contain{
    max-width:1600px ;
    height: 700px;
    background:linear-gradient(to bottom, rgba(0, 0, 0, 0.442),rgba(0, 0, 0, 0.961)) ,url(bg3.jpeg);
    background-repeat:repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#contain h1{
    color: white;
    text-transform: capitalize;
    font-size: 35px;
    animation: neon 1s ease-in-out infinite;
    transition: 1s;
    margin-top: 50px;
    cursor: pointer;
    letter-spacing: 3px;
}
@keyframes neon {
    from{
        color: white;
    }
    to{
        color: white;
        text-shadow:0 0 20px rgb(57, 212, 246),
        0 0  40px rgb(57, 212, 246),
        0 0  60px rgb(57, 212, 246),
        0 0  80px rgb(57, 212, 246),
        0 0 100px rgb(57, 212, 246) ;
}
    }
#teddy{
    max-width: 1000px;
    height:600px ;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   margin: 20px;
   
    
}
 h2{
    margin: 30px;
    text-align: center;
    text-transform: capitalize;
    color: transparent;
    background: linear-gradient(rgb(3, 3, 67),rgb(19, 125, 125));
    -webkit-background-clip: text;
    margin-left: 20px;
}

#box{
    width: 150px;
    height: 120px;
    border: 5px solid rgba(3, 3, 91, 0.956);
    margin: 10px;
    overflow: hidden;
    
   
}
#box img{
    width:149px;
    height:120px ;
    transform-origin: center;
    transition: 0.8s;
    
}
 #box img:hover{
    transform: scale(1.5);
}
#animal{
    max-width: 1000px;
    height: 2200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px;
   } 
.buy{
    width: 70px;
    margin-left: 45px;
    margin-bottom: 10px;
    text-decoration: none;
    border: 1px solid green;
    background-color: green;
    text-align: center;
    color: white;
    border-radius: 3px;
    padding: 5px;
}
.buy:hover{
    background-color:rgb(2, 2, 79) ;
   
   
}
.ani {
    max-width:1000px;
    height: 800px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px;
   
    
}
.ani img{
   scroll-snap-align: start;
}

.item img{
    width: 150px;
    height: 120px;
}

.foot{
   max-width: 700px;
    height: 100px;
    color: white;
    background-color: rgb(8, 8, 67);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;

}
.foot span{
    margin-left: 10px;
    color: yellow;
}



@media screen and(max-width:600px) {
    #nav{
       max-width: 600px;
       height: 60px;
    }
    .buy{
        width: 90px;
    }
}